<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional //EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style type="text/css">
        .infoFournisseur,.objet{
			float: right;
		}
    </style>
</head>
<body>

    <div class="container">
	{% for dev in devis %}
		<div class="row numDevis" >
			<div class="col-md-3">
				Devis N° : {{dev.id}}
			</div> 
			{{dump(d)}}
			
			<div class="col-md-3 infoFournisseur">
				Ville:<br>
				Adresse:<br>
				Contact:<br>
			</div>
		</div>

		<div class="row">
			<div class="col-md-3 infoClient">
				<h3>Client</h3>
				Raison Social: {{dev.client.raison_sociale}} <br>
				Adresse: {{dev.client.adresse}}<br>
				Contact: {{dev.client.contact}} <br>
			</div>
			<div class="col-md-3 objet">
				Objet: {{dev.objet}}
			</div>
		</div>
		<br><br>
		<table border="1" cellspacing="0" cellpadding="5" width="100%">
			<thead> <!-- debut En-tête du tableau -->
				<tr>
					<th align="left" style="color: red">N°</th>
					<th align="left">Designation</th>
					<th align="left">Prix unitaire</th>
					<th align="left">Quantité</th>
					<th align="left">Prix total</th>
				</tr>
			</thead> <!-- fin En-tête du tableau -->
			<tbody> <!-- debut Corps du tableau -->
                {% for produits in devis %}
				<tr>
					<td align="left" style="color: red">{{produits.id}}</td>
					<td align="left">{{produits.designation}}</td>
					<td align="right">{{produits.prix_unitaire}}</td>
					<td align="right">{{produits.quantite}}</td>
					<td align="right"> {{produits.quantite * produits.prix_unitaire}} </td>
				</tr>
                {% endfor %}
				<tr>
					<td colspan="4" align="right">Remise</td>
					<td colspan="5" align="right"> {{dev.remise_globale}} </td>
				</tr>
				<tr>
					<td colspan="4" align="right">Taxe (18%)</td>
					<td colspan="5" align="right"> {{dev.total_tva}} </td>
				</tr>
				<tr>
					<td colspan="4" align="right">Total</td>
					<td colspan="5" align="right" style="background-color: green"> {{dev.totalttc}} </td>
				</tr>
			</tbody> <!-- fin Corps du tableau -->
		</table>
	{% endfor %}
	</div>

    
</body>
</html>
